:global {
  html {
    font-family: 'Open Sans', 'Segoe UI';
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  li {
    overflow: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }

  #@{rootId} {
    width: 100%;
    height: 100%;
  }

  /** select value 过长，form inline 自动换行问题 */
  .ant-form-item-control {
    overflow: hidden;
  }
}
