.searchBox {
  :global {
    .@{ant-prefix}-form-item-label {
      width: 100px;
    }
    .@{ant-prefix}-form-item {
      margin-bottom: 0;
    }
  }
}

.searchCtrlBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
